//NextCare Style Colors//
@nc-blue: #7AABC6;
@nc-lightBlue: #B8CBD6;
@nc-yellow: #FFFF0D;
@nc-orange: #E88D0C;

//Interface Colors//
@nc-lightgrey: #efefef;
@nc-medgrey: #BDEDFF;
@nc-white:#fdfdfd;

//Interface Icons
.fa-bars
{
  color:@nc-blue;
}

///Header

.pageHeaders{
  display:flex;
  width:100%;
  margin-bottom:20px;
  border-bottom:1px dotted @nc-medgrey;
}
.pageHeaders h2{
  color:@nc-blue;
}
//App Sections (Header, Nav, Main Aside)
.app-header
{
  position:relative !important;
}
.app-body
{
  margin-top:0px !important;
}
.main
{
  margin-top:40px;
}
.sidebar-minimizer
{
  bottom:30vh !important;
}
.sidebar-minimizer::before
{
  top:30vh;
  right:20vw;
}

////Side Nav
.toggleNavButton
{
  position:relative;
  text-align:right;
}
.navMinToggle
{
  width:100%;
  background-color:@nc-lightBlue;
  border:1px solid @nc-blue;
  color:@nc-white !important;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
.sidebar
{
  background-color:@nc-white !important;
  border-right:1px solid @nc-blue;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
.sidebar-nav
{
  overflow-y:hidden !important;
  background-color:@nc-white !important;
}
.sidebar .nav-link
{
  display: block;
  padding: .75rem 1rem;
  color: #fff;
  text-decoration: none;
  background: 0 0;
}
.nav-item a
{
  background-color:@nc-white;
  border-bottom:1px solid @nc-blue;
  color:@nc-blue !important;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
.nav-item a:hover
{
  background-color:@nc-blue !important;
  color:@nc-white !important;
}
.openNavText
{
  
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
.collapseNavText
{

  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
//////////////////////////////////////////Page Items
//Home Page
.blueBox
{
  background-color:@nc-blue !important;
}
.greenBox
{
  background-color:@nc-lightBlue !important;
}
.pinkBox
{
  background-color:@nc-yellow !important;
}
.orangeBox
{
  background-color:@nc-orange !important;
}



.nextcareBtn
{
  background-color: @nc-blue !important;
  color:#fff !important;
  -webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}
.nextcareBtn:hover
{
  background-color: @nc-medgrey !important;
  color: @nc-blue !important;
}

.list-group-item:nth-child(even) {
  background-color: @nc-medgrey;
  border:1px solid @nc-medgrey;
}
.list-group-item:nth-child(odd) {
  background-color: nc-lightgrey;
  border:1px solid @nc-medgrey;
} 

///Invoice Items//
.total-line {
  font-weight: bold;
  background-color:@nc-medgrey;
  color:@nc-blue !important;
}
.item-detail
{
  
}
.row-detail {
  border-bottom:1px solid @nc-blue; 
  /* background-color: #CCC; */
}
.invoiceTitle
{
  margin-bottom:40px;
}











//Charts
.chart-wrapper
{
  max-height:70px !important;
}
.chart
{
  max-height:70px !important;
}