body
{
 background-color:#ffffff !important;
}


.main
{
    width:100% !important;
   
    
}
.sidebar
{
  overflow:hidden !important;
}

div{
    white-space: nowrap;
}

.tableHeader
{
    display:flex;
    width:100%;
    margin-bottom:10px;
}





.item-detail {
 
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
}

.number-detail {
  text-align: right;
}


