#app
{
    margin-right:20px;
}
.main
{
    width:100% !important;
    margin-top:80px;
}
.sidebar-nav
{
    padding-left:10px;
}
div{
    white-space: nowrap;
}
.pageHeaders
{
    display:flex;
    width:100%;
    margin-bottom:20px;
    border-bottom:1px dotted #cccccc;
}
.tableHeader
{
    display:flex;
    width:100%;
    margin-bottom:10px;
    
}