body
{
 background-color:#ffffff !important;
}

#app
{
    margin-right:30px;
}
.main
{
    width:100% !important;
    margin-top:80px;
    margin-left:220px !important;
}
.sidebar
{
  overflow:hidden !important;
}
.sidebar-nav
{
  padding-left:10px;
  font-size: medium;
  font-weight: bold;
}
div{
    white-space: nowrap;
}

.tableHeader
{
    display:flex;
    width:100%;
    margin-bottom:10px;
}





.item-detail {
 
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
}

.number-detail {
  text-align: right;
}


