body
{
 background-color:#ffffff !important;
}

#app
{
    margin-right:30px;
}
.main
{
    width:100% !important;
    margin-top:80px;
    margin-left:220px !important;
}
.sidebar-nav
{
  padding-left:10px;
  font-size: medium;
  font-weight: bold;
}
div{
    white-space: nowrap;
}
.pageHeaders
{
    display:flex;
    width:100%;
    margin-bottom:20px;
    border-bottom:1px dotted #cccccc;
}
.tableHeader
{
    display:flex;
    width:100%;
    margin-bottom:10px;

}

.row-detail {
  border-style: solid;
  border-color: black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  /* background-color: #CCC; */
}

.item-detail {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: large;
}

.number-detail {
  text-align: right;
}

.total-line {
  font-weight: bold;
  background-color: darkseagreen;
}
