USE NextCARE;
GO

INSERT INTO Guardian (PersonId, StudentId, GuardianTypeId)
	VALUES(3, 1, 1);
INSERT INTO Guardian (PersonId, StudentId, GuardianTypeId)
	VALUES(12, 2, 1);
INSERT INTO Guardian (PersonId, StudentId, GuardianTypeId)
	VALUES(20, 6, 4);

--SELECT distinct PersonId FROM Student
--ORDER BY PersonId;

--Select * from GuardianType;
